@import url("https://fonts.googleapis.com/css2?family=Bahianita&family=Smooch+Sans:wght@100..900&family=Teko:wght@300..700&display=swap");

$secondary_color: #f1f6f9;
$hover: #c8c8c8;
$debug: 2px;

.form {
	* {
		color: white;
	}
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;

	& > span {
		font-family: "Teko", sans-serif;
		margin-top: 20px;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 20px;
	}

	.form_field {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		input {
			background-color: #222831;
			font-size: 1.25rem;
			padding-left: 5px;
			border-radius: 3px;
			width: 325px;
			height: 30px;

			&:focus {
				outline: 0;
				border: 2px solid $secondary_color;
			}
		}
	}

	.auth_message {
		width: 325px;
		display: flex;
		align-items: center;
		height: 20px;
		span {
			color: #d21312;
			font-size: 0.85rem;
			line-height: 0.85rem;
		}
	}

	.form_options {
		margin-top: -10px;
		margin-bottom: 20px;
		display: flex;
		width: 100%;
		justify-content: space-between;
		label {
			font-size: 1.25rem;
			line-height: 1.25rem;
		}
		button {
			font-size: 1.25rem;
			line-height: 1.25rem;
		}
	}

	.submit_form {
		margin-bottom: 80px;
		input {
			font-size: 1.25rem;
			width: 330px;
			height: 35px;
			color: black;
			border-radius: 3px;
			background-color: $secondary_color;

			&:hover {
				background-color: $hover;
				cursor: pointer;
			}
		}
	}
}
