.edit_profile {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	gap: 30px;
	flex-direction: column;
	padding: clamp(15px, 1vw, 20px);

	& > div:first-child {
		& > span {
			font-size: clamp(1.75rem, 2vw, 2rem);
			line-height: clamp(1.75rem, 2vw, 2rem);
		}
	}

	& > div:last-child {
		display: flex;
		height: fit-content;
		justify-content: space-around;
	}

	.fields {
		gap: 50px;
		width: fit-content;
		display: flex;
		flex-direction: row;
		& > div {
			gap: 14px;
			display: flex;
			flex-direction: column;
			width: clamp(250px, 17vw, 300px);
			& > div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				& > label {
					font-size: 1.5rem;
					line-height: 1.5rem;
				}

				& > input {
					height: 35px;
					color: white;
					padding-left: 6px;
					border-radius: 3px;
					background-color: #050a0e;
					font-size: clamp(1.5rem, 1vw, 1.75rem);
				}
			}
		}
	}
}
