$debug: 2px;

.main_container {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	gap: 5px;
	margin: 5px;
	outline: $debug solid red;
	background-color: #f2efeb;
	width: 22vw;
	height: fit-content;
	padding: 2px;
}

.product_image {
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	outline: $debug solid green;
	width: 100%;
	height: fit-content;
}

.product_information {
	display: flex;
	flex-direction: column;
	padding: 2px 5px 2px 5px;
	height: clamp(90px, 6vw, 6vw);
	border-radius: 0px 0px 5px 5px;
	outline: $debug solid yellow;
	margin-bottom: 2px;

	* {
		color: black;
		font-family: "Smooch Sans", sans-serif;
	}

	.info1 {
		display: flex;
		align-items: center;
		outline: $debug solid purple;
		justify-content: space-between;
		width: 100%;

		h3 {
			font-weight: bold;
			font-size: clamp(1rem, 1.75vw, 1.75vw);
			line-height: clamp(1rem, 1.75vw, 1.75vw);
		}

		span {
			min-width: fit-content;
			font-size: clamp(0.75rem, 1.5vw, 1.5vw);
			line-height: clamp(0.75rem, 1.5vw, 1.5vw);
		}
	}
	.info2 {
		width: 100%;
	}

	.info3 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline: $debug solid green;
		width: 100%;

		h3 {
			font-size: clamp(0.75rem, 1.5vw, 1.5vw);
			line-height: clamp(0.75rem, 1.5vw, 1.5vw);
		}

		span {
			font-size: clamp(1rem, 1.75vw, 1.75vw);
			line-height: clamp(1rem, 1.75vw, 1.75vw);
		}
	}
}
