.side_bar {
	background-color: #f8edff;
	* {
		color: black;
	}
	.filter_options {
		gap: 10px;
		display: flex;
		align-items: center;
		width: 100vw;
		flex-direction: column;
		padding: 10px;

		.query_field {
			display: flex;
			flex-direction: column;
			label {
				font-family: "Smooch Sans", sans-serif;
				font-size: 1.2rem;
				line-height: 1.2rem;
			}
			input {
				width: 250px;
				color: white;
				padding-left: 5px;
				border-radius: 3px;
				background-color: #0f0f0f;

				&:focus {
					outline: none;
				}
			}
		}

		.category_list {
			width: 100%;
			ul {
				display: flex;
				justify-content: space-evenly;
				font-family: "Smooch Sans", sans-serif;
				li {
					font-size: 1.65rem;
					line-height: 1.65rem;

					input:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}
