@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

$color: #eeeeee;
$debug: 0;

.menu_options {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	outline: $debug solid purple;
	width: 40%;
	height: 100%;

	& > ul {
		display: flex;
		outline: $debug solid red;
		height: 100%;
		width: 100%;
		& > li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 33%;
			outline: $debug solid yellow;
			font-size: 1.5vw;
			line-height: 1.5vw;
			transition: opacity 0.5s;

			& > ul {
				gap: 4px;
				left: 50%;
				top: 100%;
				opacity: 0;
				width: 100%;
				display: flex;
				overflow: hidden;
				visibility: hidden;
				position: absolute;
				height: fit-content;
				align-items: center;
				padding: 10px 0 10px 0;
				flex-direction: column;
				justify-content: center;
				transition: opacity 0.5s;
				transform: translate(-50%, 0%);
				/* shadow-[0px_5px_20px_0px_rgba(0,0,0,0.75)] */
				box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);

				& > li {
					input:hover {
						cursor: pointer;
					}
					width: fit-content;
					font-size: 1.5vw;
					line-height: 1.5vw;
				}
			}

			&:hover {
				& > ul {
					visibility: visible;
					opacity: 1;
					transition: opacity 0.5s;
				}
			}
		}
	}
}
