.user {
	gap: 1.25vw;
	height: 80%;
	display: flex;
	width: fit-content;
	align-items: center;

	.icon {
		font-size: clamp(2rem, 3vw, 3vw);
	}

	& > div:last-child {
		gap: 2px;
		display: flex;
		flex-direction: column;

		& > p {
			font-size: clamp(1rem, 1.5vw, 1.5vw);
			line-height: clamp(1rem, 1.5vw, 1.5vw);
		}

		& > div {
			gap: 1.25vw;
			display: flex;
			height: 1.5vw;
			align-items: center;
			justify-content: space-between;

			span {
				font-size: clamp(1rem, 1.5vw, 1.5vw);
				line-height: clamp(1rem, 1.5vw, 1.5vw);
			}
		}
	}
}
