@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kode+Mono:wght@400..700&family=Smooch+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

.text-all-black * {
	color: black;
}

.text-all-white * {
	color: white;
}

.text-focus-black {
	color: black;
}

.text-focus-white {
	color: white;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.text-all-smooch * {
	font-family: "Smooch Sans", monospace;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
/* width */
*::-webkit-scrollbar {
	width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: #000000;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: #ffffff;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}
