@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$debug: 1px;

.body {
	height: 100%;
	width: 100%;
	background-color: #050a0e;
	.header {
		color: white;
	}
}

.main {
	height: fit-content;
	display: flex;
	flex-direction: column;
	* {
		font-family: "Roboto Condensed";
	}

	.primary_content {
		position: relative;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2px;
		flex-direction: row;
		outline: $debug solid red;

		.main_cb1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60%;
			outline: $debug solid green;
			height: 100%;
			padding: 20px;

			h1 {
				font-size: clamp(2rem, 4vw, 4vw);
				line-height: clamp(2rem, 4vw, 4vw);
			}

			p {
				font-size: clamp(0.75rem, 1.5vw, 1.5vw);
				line-height: clamp(0.75rem, 1.5vw, 1.5vw);
				font-weight: 100;
			}

			h6 {
				font-weight: 100;
				font-size: 0.7vw;
				opacity: 0.5;
			}
		}

		.main_cb2 {
			width: 40%;
			margin: 2px;
			height: 100%;
			position: relative;
			outline: $debug solid blue;

			.catalog_button {
				position: absolute;
				bottom: 15vh;
				right: 10vw;

				button {
					position: relative;
					height: 100px;
					width: 270px;
					border: 2px solid white;
					overflow: hidden;

					span {
						z-index: 2;
						position: relative;
						color: white;
						transform: color 0.5;
						font-size: clamp(1rem, 1.5vw, 1.5vw);
					}

					div {
						z-index: 1;
						top: 100%;
						width: 100%;
						height: 100%;
						position: absolute;
						background-color: white;
						transition: top 0.5s ease-out;
					}

					&:hover {
						span {
							color: black;
							transform: color 1s;
						}
						div {
							top: 0;
							transition: top 0.5s ease-out;
						}
					}
				}
			}
		}

		.primary_bg_image {
			z-index: -1;
			width: 100%;
			height: 100%;
			position: absolute;
			background-size: cover;
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url("/images/home/main-bg.jpg");
		}
	}

	.secondary_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5px;
		align-items: center;
		gap: 5px;
		height: 100vh;

		.secondary_cb1 {
			outline: $debug solid green;
			width: 100%;
			height: 40%;
		}

		.secondary_cb2 {
			display: flex;
			flex-direction: column;
			padding: 5px;
			justify-content: flex-end;
			align-items: center;
			outline: $debug solid red;
			width: 100%;
			height: 60%;

			& > h3 {
				font-size: clamp(1.75rem, 2.5vw, 2.5vw);
				line-height: clamp(1.75rem, 2.5vw, 2.5vw);
				font-family: "Bebas Neue", sans-serif;
			}
		}
	}
}
