.dashboard {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	flex-direction: column;
	width: 80vw;
	height: 100%;
	padding: 1vw;
}

.user_information {
	min-width: 250px;
	h3 {
		font-size: 2.5vw;
		line-height: 2.5vw;
	}
	span {
		font-size: 1.5vw;
		line-height: 1.5vw;
	}
	* {
		color: black;
	}
}

.dashboard_landing {
	gap: 1vw;
	width: 100%;
	height: 100%;
	display: flex;
	color: black;
	position: relative;
	flex-direction: column;

	& > div:first-child {
		width: 100%;
		height: 9vw;
		display: flex;
		min-height: 100px;
		justify-content: space-between;
	}

	& > div:last-child {
		flex: 1;
		display: flex;
		overflow: auto;
		max-height: 100%;
		position: relative;
		border-radius: 6px;
		flex-direction: column;
		background-color: white;
	}
}

.dashboard_user {
	gap: 2.5vw;
	width: 65%;
	height: 100%;
	display: flex;
	border-radius: 6px;
	position: relative;
	align-items: center;
	background-color: white;
	padding: 10px 10px 10px 1.5vw;

	.user_profile_picture {
		width: clamp(75px, 10vw, 115px);
		height: clamp(75px, 10vw, 115px);
		border-radius: 100%;
		background-color: black;
	}

	& > div:nth-child(1) {
		width: clamp(75px, 10vw, 115px);
		height: clamp(75px, 10vw, 115px);
		position: relative;
	}

	& > div:nth-child(2) {
		flex: 1;
		display: flex;
		flex-direction: column;

		& > span:first-child {
			font-size: clamp(2rem, 2.5vw, 2.5vw);
			line-height: clamp(2rem, 2.5vw, 2.5vw);
		}

		& > span:last-child {
			font-size: clamp(1.25rem, 1.5vw, 1.5vw);
			line-height: clamp(1.25rem, 1.5vw, 1.5vw);
		}
	}
}

.navigation_menu {
	gap: 0.5vw;
	width: 20vw;
	height: 100%;
	display: flex;
	position: relative;
	padding: 1vw 0 3vw 0;
	flex-direction: column;
	background-color: #eeeeee;

	button {
		height: 3vw;
		width: 100%;
		&:hover {
			background-color: white;
		}

		& > span {
			gap: 1vw;
			width: 100%;
			height: 100%;
			display: flex;
			color: black;
			font-size: 1.5vw;
			padding-left: 1vw;
			line-height: 1.5vw;
			align-items: center;
		}
	}
}

.error_message {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	font-size: 5vw;
	position: absolute;
	align-items: center;
	justify-content: center;

	& > span {
		font-size: clamp(2rem, 5vw, 3rem);
	}
}

@media (max-width: 760px) {
	.navigation_menu {
		visibility: hidden;
		position: absolute;
	}

	.dashboard {
		width: 100%;
	}

	.dashboard_landing {
		& > div:last-child {
			width: 100%;
		}
	}

	.dashboard_user {
		width: 100%;
	}
}
